@import url('https://fonts.googleapis.com/css2?family=Abel&family=Inter&family=Lobster&family=Montserrat:wght@700&family=Poppins:wght@700&display=swap');

body{
    font-family: Poppins;
}
.first-section{
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.first-section h1{
    margin-left: 100px;
    font-size: 24px;
}
.f1-list{
    display: flex;
    list-style: none;
    text-decoration: none;
    flex-direction: row;
    gap: 30px;
    font-size: 16px;
    margin-left: 500px;
}
.second-section{
    display: flex;
}
.second-section h1{
    font-size: 52px;
}
.s2-first{
    width: 50%;
    margin-left: 100px;
}
.s2-first p{
    font-size: 16px;
}
.s2-second{
    width: 50%;
    padding-left: 90px;
    margin-right: 20px;
}
button{
    background-color: #E02C6D;
    height: 44px;
    width:196px;
    border-radius: 40px;
    font-size: 16px;
    padding: 10px 24px;
    color: #FFF;
    font-weight: 700;
    margin-top: 20px;
}
.third-section{
    margin: 100px ;
}
.advertisement{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(7,1fr);
    height: 105px;
}
.fourth-section h1{
    display: flex;
    justify-content: center;
}
.s4-collection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 0px 90px;
}
.s4-collection div{
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 15px;
}
.s4-collection div img{
    margin-left: 15px;
    margin-top: 15px;
}
.more-arrow{
    margin-left: 1130px;
}
.more-arrow i{
    margin-left: 8px;
}
.fifth-section{
    display: flex;
    margin: 130px 70px;
}
.fifth-section div{
    padding: 10px 40px;
}
footer{
    background-color: #0A0826;
    color: white;
    text-align: center;
    height: 240px;
    padding-top: 30px;
    margin: -8px;
}
.footer-details p{
    font-size: 12px;
}
.footer-icons i{
    padding-top: 20px;
    padding-right: 16px;
}