@import url('https://fonts.googleapis.com/css2?family=Abel&family=Inter&family=Lobster&family=Montserrat:wght@700&family=Poppins:wght@700&display=swap');

body{
    font-family: Poppins;
}
.first-section{
    display: flex;
    align-items: center;
    margin-top: 50px;
}
h1{
    margin-left: 100px;
    font-size: 24px;
}
.f1-list{
    display: flex;
    list-style: none;
    text-decoration: none;
    flex-direction: row;
    gap: 30px;
    font-size: 16px;
    margin-left: 500px;
}
