body{
    font-family: 'Montserrat', sans-serif;
    margin: -16px;
}
.section-1{
    display: flex;
    margin-top: 90px;
    margin-left: 100px;
    
}
.section-1 h1{
    font-size: 60px;
    font-weight: 700;
}
.section-1 p{
    font-weight: 100;
    font-size: 20px;
    margin-bottom: 50px;
}
.section-1 a{
    text-decoration: none;
    padding: 24px 32px;
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    box-shadow: 0px 2px 30px rgba(252, 143, 73, 0.5);
    border-radius: 50px;
    color: snow;
}
.section-1 span{
    color: orangered;
}
.s1-right{
    margin-top: -160px;
    width: 70%;
}

.s1-right img{
    width: 100%;
    height: 100%;
}
.s1-letf{
    width: 30%;
}

.section-2{
    display: flex;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 600px;
}
.section-2 h1{
    font-size: 40px;
    font-weight: 700; 
    color: rgba(112, 112, 112, 1);
}
.section-2 p{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 100px;
}
.section-2 a{
    text-decoration: none;
    padding: 24px 32px;
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    box-shadow: 0px 2px 30px rgba(252, 143, 73, 0.5);
    border-radius: 50px;
    color: snow;
}
.s2-left{
    width: 50%;
}
.s2-left img{
    margin-left: 200px;
    margin-top: 60px;
    width: 55%;
}
.s2-right{
    width: 50%;
    margin-top: 100px;
    margin-left: 50px;
    padding-left: 80px;
    margin-right: 70px;
}
.section-3 h1{
    font-size: 35px;
}
.s3-first{
    text-align: center;
    margin: 30px 300px;
}
.s3-second{
    display: flex;
    margin-bottom: 80px;
}
.s3-second1{
    width: 40%;
    border-radius: 30px;
    border: 5px solid white;
    margin-left: 67px;
    padding: 20px;
    box-shadow:  0px 0px 30px 0px rgba(0, 0, 0, 0.5);
}
.s3-second2{
    width: 40%;
    border: 5px solid white;
    margin-left: 40px;
    border-radius: 30px;
    padding: 20px;
    box-shadow:  0px 0px 30px 0px rgba(0, 0, 0, 0.5);
}
.s3-second1 img{
    width: 100%;
    border-radius: 30px;
}
.s3-second2 img{
    width: 100%;
    border-radius: 30px;
}
.s3-third{
    display: flex;
    border-radius: 30px;
    padding: 20px;
    box-shadow:  0px 0px 30px 0px rgba(0, 0, 0, 0.5);
    margin: 0px 63px 50px 63px;
    padding-left: 230px;
}
.s3-third div{
    margin: 20px 50px;
}
footer{
    text-align: center;
    background-color: #0B0D17;
    height: 256px;
    padding-top: 100px;
}
footer h1{
    margin-bottom: 40px;
}
.f-1{
    color:#FB974B;
}
.f-2{
    color: #5B5B5B;
}
footer p{
    color: white;
    font-weight: 100;
}